# Exploring Car Data with Pandas

In [1]:
# now that we have scraped data we want to clean and process it
# afterwards we will want to generate some statistics and visualizations

# first let's load libraries 

# first standard libraries
# python version
import sys
print(f"Python version: {sys.version}")
from pathlib import Path
from datetime import datetime
import re

# data manipulation
import pandas as pd
print(f"Pandas version: {pd.__version__}")

# visualization with plotly
import plotly
import plotly.express as px
import plotly.graph_objects as go
# version
print(f"Plotly version: {plotly.__version__}")

Python version: 3.12.3 (tags/v3.12.3:f6650f9, Apr  9 2024, 14:05:25) [MSC v.1938 64 bit (AMD64)]
Pandas version: 2.2.2
Plotly version: 5.22.0

In [2]:
parquet_folder = Path("../data/parquet")
assert parquet_folder.exists(), "Parquet folder does not exist"

In [5]:
parquet_files = list(parquet_folder.glob("*.parquet"))
print(f"Found {len(parquet_files)} parquet files")
# if we have at least one get the latest
# sort by modification time and get the last one
parquet_files = sorted(parquet_files, key=lambda x: x.stat().st_mtime)

if len(parquet_files) > 0:
    latest_parquet = parquet_files[-1]
    print(f"Latest parquet file: {latest_parquet}")
    # read the parquet file
    df = pd.read_parquet(latest_parquet)
    print(f"Dataframe shape: {df.shape}")
    print(f"Dataframe columns: {df.columns}")
    display(df.head())
else:
    print("No parquet files found, please run the scraping notebook first")

Found 1 parquet files
Latest parquet file: ..\data\parquet\all_cars.parquet
Dataframe shape: (24611, 8)
Dataframe columns: Index(['description', 'url', 'Modelis', 'Gads', 'Tilp.', 'Nobrauk.', 'Cena',
       'Marka'],
      dtype='object')

,description,url,Modelis,Gads,Tilp.,Nobrauk.,Cena,Marka
0,1.9 88kw. Labā tehniskā un vizuāla stāvoklī. Ļ...,https://ss.com/msg/lv/transport/cars/alfa-rome...,159,2008,1.9D,-,"1,550 €",None
1,Pārdodu vāciešu alfa romeo 1.9 Jtd tehniski la...,https://ss.com/msg/lv/transport/cars/alfa-rome...,159,2009,1.9D,177 tūkst.,"2,900 €",None
2,Alfa Romeo Stelvio\r\n2.2 dīzeļdzinējs\r\nAuto...,https://ss.com/msg/lv/transport/cars/alfa-rome...,Stelvio,2017,2.2D,158 tūkst.,"16,990 €",None
3,"Alfa Romeo Mito 1.3Jtdm 95Hp, ""Distinctive"" ap...",https://ss.com/msg/lv/transport/cars/alfa-rome...,Citi,2011,1.3D,175 tūkst.,"3,900 €",None
4,Alfa romeo 147. Automāts 2.0benzīns ekonomisks...,https://ss.com/msg/lv/transport/cars/alfa-rome...,147,2004,2.0,-,"1,499 €",None

In [6]:
def make_clickable(val):
    # target _blank to open new window
    return '<a target="_blank" href="{}">{}</a>'.format(val, val)

df.head().style.format({'url': make_clickable})

In [8]:
# unique Models
models = df['Modelis'].unique()
print(f"Unique models: {len(models)}")

Unique models: 865

In [14]:
# unique Marka
brands = df['Marka'].unique()
print(f"Unique brands: {len(brands)}")
# print all brands sorted
# convert NoneType to empty string
brands = ["" if pd.isna(b) else b for b in brands]
brands = sorted(brands)
print(brands)

Unique brands: 62
['', '-', 'Austin', 'CadillacCiti', 'CadillacDE Ville', 'CadillacEldorado', 'CadillacEscalade', 'CadillacSRX', 'CadillacSeville', 'Chevrolet Chev', 'DaewooKalos', 'DaewooLanos', 'Daihatsu', 'Geely ck', 'Gmc', 'HummerH2', 'HummerH3', 'Hyundai', 'IsuzuCiti', 'IsuzuPick Up', 'IsuzuTrooper', 'Iž kombi', 'IžKombi', 'Karma revero', 'Levc tx', 'Levc vn5', 'Lincoln', 'LincolnMark', 'LincolnNavigator', 'LincolnTown Car', 'Linkoln', 'Malagutti', 'Man', 'Maserati', 'Mazda B2500', 'Metallolom', 'Mg zt-t', 'Ora', 'Rl1100', 'Rover', 'Rover416', 'Rover75', 'Smz', 'Ssang yong', 'SsangYongActyon', 'SsangYongCiti', 'SsangYongKorando', 'SsangYongRexton', 'Styer', 'Tesla', 'Uaz hunter', 'Uaz3151', 'Uaz3303', 'Uaz452', 'Uaz469', 'Vissi', 'Yamaha', 'Zaz', 'Zaz1102', 'Zaz965', 'Zaz966', 'Zaz968']

In [16]:
# value counts of brands
brand_counts = df['Marka'].value_counts()
brand_counts

Marka
SsangYongRexton     7
CadillacEscalade    7
Uaz469              6
LincolnTown Car     5
Uaz452              4
                   ..
DaewooKalos         1
DaewooLanos         1
Zaz965              1
Ora                 1
Zaz966              1
Name: count, Length: 61, dtype: int64

In [18]:
# How many are none?
none_brands = df['Marka'].isnull().sum()
print(f"None brands: {none_brands}")

None brands: 24507

In [22]:
# let's create a function that extracts brand from url
# brand comes after cars/ and before next /
def extract_brand(url):
    if pd.isna(url):
        return None
    match = re.search(r"cars/(.*?)/", url)
    if match:
        return match.group(1)
    else:
        return None

In [23]:
# let's create a brand column
df['Brand'] = df['url'].apply(extract_brand)
# value counts
brand_counts = df['Brand'].value_counts()
brand_counts

Brand
bmw           3748
volkswagen    3186
audi          2538
volvo         2310
mercedes      1594
toyota        1421
opel          1396
ford          1000
renault        739
skoda          654
nissan         632
peugeot        600
citroen        447
hyundai        440
honda          358
kia            313
land-rover     304
lexus          275
mitsubishi     258
mazda          249
seat           214
porsche        194
subaru         175
jeep           172
mini           158
chrysler       138
fiat           138
chevrolet      129
jaguar         105
vaz             95
dacia           91
suzuki          83
saab            65
alfa-romeo      60
dodge           53
lancia          40
others          36
smart           33
gaz             28
infiniti        26
cupra           25
moskvich        17
ssangyong       15
cadillac        15
uaz             12
lincoln          9
zaz              6
hummer           5
isuzu            5
rover            4
daewoo           2
iz               1
Name: count, dtype: int64

In [26]:
# now let's extract price from Cena
# we want to get rid of whitespace then comman and then Euro sign
def extract_price(price):
    if pd.isna(price):
        return None
    price = price.strip()
    price = price.replace(" ", "")
    price = price.replace(",", "")
    price = price.replace("€", "")
    # now try converting to float
    try:
        return float(price)
    except ValueError:
        return 0


# let's create a price column
df['Price'] = df['Cena'].apply(extract_price)
# value counts
price_counts = df['Price'].value_counts()
price_counts

Price
0.0        1473
2500.0      228
3500.0      226
4500.0      203
1500.0      201
           ...
1455.0        1
34100.0       1
8288.0        1
22385.0       1
830.0         1
Name: count, Length: 2089, dtype: int64

In [27]:
# now let's create km column 
# we will use Nobrauk. column
# we will replace km with empty string
# we will replace tukst. with 000
# we will replace whitespace with empty string
def extract_km(km):
    if pd.isna(km):
        return None
    km = km.replace("km", "")
    km = km.replace("tūkst.", "000")
    km = km.replace(" ", "")
    # now try converting to float
    try:
        return float(km)
    except ValueError:
        return 0
    
# let's create a km column
df['Km'] = df['Nobrauk.'].apply(extract_km)
# value counts
km_counts = df['Km'].value_counts()
km_counts

Km
0.0         5176
300000.0     194
250000.0     165
280000.0     148
260000.0     144
            ...
2.8            1
162.0          1
2.4            1
969000.0       1
5.7            1
Name: count, Length: 694, dtype: int64

In [28]:
# let's create Year column from Gads column by converting to int
def extract_year(year):
    if pd.isna(year):
        return None
    # now try converting to int
    try:
        return int(year)
    except ValueError:
        return 0

# let's create a year column
df['Year'] = df['Gads'].apply(extract_year)
# value counts
year_counts = df['Year'].value_counts()
year_counts

Year
2007    1730
2008    1626
2011    1434
2012    1368
2006    1298
        ...
1956       1
1965       1
1968       1
1967       1
1936       1
Name: count, Length: 70, dtype: int64

In [29]:
# df info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24611 entries, 0 to 24610
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  24611 non-null  object
 1   url          24611 non-null  object
 2   Modelis      24507 non-null  object
 3   Gads         24611 non-null  object
 4   Tilp.        24611 non-null  object
 5   Nobrauk.     24611 non-null  object
 6   Cena         24611 non-null  object
 7   Marka        104 non-null    object
 8   Brand        24611 non-null  object
 9   Price        24611 non-null  float64
 10  Km           24611 non-null  float64
 11  Year         24611 non-null  int64
dtypes: float64(2), int64(1), object(9)
memory usage: 2.3+ MB

In [31]:
# describe years column
df['Year'].describe()

count    24611.000000
mean      1948.640242
std        346.974225
min          0.000000
25%       2006.000000
50%       2010.000000
75%       2015.000000
max       2024.000000
Name: Year, dtype: float64

In [32]:
# how many 0 years?
zero_years = df[df['Year'] == 0].shape[0]
print(f"Zero years: {zero_years}")

Zero years: 756

In [33]:
# let's plot value counts of years
# ignore zero years
year_counts = year_counts[year_counts.index != 0]
fig = px.bar(year_counts, x=year_counts.index, y=year_counts.values, labels={'x': 'Year', 'y': 'Count'})
fig.update_layout(title_text='Value counts of years')
fig.show()

In [34]:
# let us save the cleaned dataframe
cleaned_parquet = parquet_folder / "cleaned_cars.parquet"
df.to_parquet(cleaned_parquet)